body {
    font-family: sans-serif;
    background-color: white;
}

.center {
    
    text-align: center;
}

.text-big {
     
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    margin-left: 18px;
    margin-top: 18px;
    height: 200px;
}

.mypic{
    background-color: black;
    color: white;
}


.para1 {
    background-color: orange;
    font-size: 100%;
    float: left;
   width: 300px;
   height: 150px;
   margin: 10px;
   text-align: center;
}
.para2 {
    background-color: pink;
    font-size: 100%;
    float: left;
   width: 300px;
   height: 150px;
   margin: 10px;
   text-align: center;
}

.para3 {
    background-color: #ffff1a;
    font-size: 100%;
    float: left;
   width: 300px;
   height: 150px;
   margin: 10px;
   text-align: center;
}

.para4 {
    background-color: #79ff4d;
    font-size: 100%;
    float: left;
   width: 300px;
   height: 150px;
   margin: 10px;
   text-align: center;
}

.para5 {
    background-color: #33adff;
    font-size: 100%;
    float: left;
   width: 300px;
   height: 150px;
   margin: 10px;
   text-align: center;
}

