body {
    font-family: sans-serif;
    background-color: white;
}

.center {
    
    text-align: center;
}

.text-big {
     
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    margin-left: 18px;
    margin-top: 18px;
    height: 200px;
}

.mypic{
    background-color: black;
    color: white;
}


.para1 {
   margin-top:10px; 
   background-color: orange;
    font-size: 60%;
    float: left;
   width: 20%; 
   height: 70px;
    text-align: center;
}

.para2 {
    margin-top:10px; 
    background-color: pink;
    font-size: 60%;
    float: left;
   width: 20%; 
   height: 70px;  
   text-align:center;
}


.para3 {
    margin-top:10px; background-color: #ffff1a;
    font-size: 60%;
    float: left;
   width: 20%; height: 70px;   
   text-align: center;
}


.para4 {
    margin-top:10px; background-color: #79ff4d;
    font-size: 60%;
    float: left;
   width: 20%;    height: 70px;
   text-align: center;
}


.para5 {
   margin-top:10px; background-color: #33adff;
    font-size: 60%;
    float: left;
   width: 20%; 
   text-align: center;
   height: 70px;
}


.box {
    font-size: 150%;
    margin: 100px;
}

.foot{
    background-color: black;
    padding: 1em;
    font-size: 150%;
    color: white;
}
